@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    font-family: 'Noto Sans TC', sans-serif;
    margin     : 0;
}

* {
    box-sizing: border-box;

}

:root {

    --head-height: 120px;

    --aside-width: 220px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #002e65;
}

::-webkit-scrollbar-thumb {
    background: #8b9bb1;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

/* ========================================== 左方aside============================================ */

aside.aside {

    background-color: #BFCCDC;
    width           : var(--aside-width);
    height          : 100%;
    display         : flex;
    /*設定元素方向、位置*/
    flex-direction  : column;
    /*直向*/
    align-items     : center;
    /*垂直致中*/

    position      : fixed;
    top           : 0;
    left          : 0;
    z-index       : 6;
    /* 層級 */
    overflow-x    : hidden;
    /* x滾軸隱藏 */
    overflow-y    : auto;
    padding-bottom: 10px;
    padding-top   : 10px;

}

aside.aside ul.aside_list {
    width     : var(--aside-width);
    list-style: none;
    margin    : 0;
    padding   : 0;
    height    : 100%;
}

aside.aside ul.aside_list>li:hover {
    background-color: #8b9bb1;

}


aside.aside ul.aside_list>li a {
    display        : flex;
    justify-content: center;
    /*水平致中 */
    align-items    : center;
    /*垂直致中 */
    text-decoration: none;
    /*文字底線去除 */
    padding        : 5px;
    font-size      : larger;
    color          : white;
    height         : 50px;


}


aside.aside button {
    width           : 85px;
    font-size       : 14px;
    background-color: transparent;
    border          : 2px solid white;
    border-radius   : 6px;
    color           : white;
    text-align      : center;
    text-decoration : none;
    margin-top      : 20px;
    margin-bottom   : 10px;
}

aside.aside button:hover {
    background-color: #8b9bb1;
    color           : white;

}


aside.aside button a {
    color          : white;
    text-align     : center;
    text-decoration: none;
}

aside.aside>img {
    margin-bottom: 10px;
}

aside.aside h1 {
    font-size: 15px;
    color    : white;
}

/* ========================================== 上方function============================================ */
div.function {
    background-color: #dee4ec;
    width           : calc(100% - var(--aside-width));
    /*減號兩邊一定要空格 ; */
    height          : var(--head-height);
    position        : fixed;
    top             : 0;
    left            : var(--aside-width);
    display         : flex;
    align-items     : center;
    justify-content : center;
    z-index         : 3;

}

div.function>label {
    margin-left : 18px;
    margin-right: 8px;
}

div.function>button {
    margin-left     : 30px;
    background-color: transparent;
    border          : 2px solid #041427;
    width           : 50px;
    border-radius   : 6px;
    font-size       : 13px;
}

div.function select {
    width : 130px;
    height: 21.5px;


}

/* ==========================================主要工作區============================================ */
div.workplace {
    margin-left    : calc(var(--aside-width) + 30px);
    /* margin-right: 20px; */
    margin-top     : 50px;
    width          : calc(100% - var(--aside-width) - 60px);
    /*減號兩邊一定要空格*/
    display        : inline-block;
    justify-content: center;
    position       : absolute;
    top            : var(--head-height);
    z-index        : 1;
    text-align     : center;
    justify-content: space-between;


}


/* datatable */

td {
    max-width    : 250px;
    /* 設置最大寬度 */
    overflow     : hidden;
    /* 隱藏超出部分 */
    text-overflow: ellipsis;
    /* 添加省略號 */
    white-space  : nowrap;
    /* 不換行 */
}

.showTd {
    max-width  : none;
    overflow   : visible;
    white-space: normal;
    /* 換行 */
}